@import "node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "node_modules/ng-zorro-antd/style/index.min.css";

:root {
  --main-color: #8a70d6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.btn:focus { 
  box-shadow: none !important;
  outline: none !important;
}
